<div class="p-3 stats">


    <div class="row">
        <div class="col-md-3 mb-2">
            <button type="button" class="btn btn-primary w-100">
                Usuarios <span class="badge text-bg-light ms-2">
                    {{lista}}
                </span>
            </button>
        </div>
        <div class="col-md-3 mb-2">
            <button type="button" class="btn btn-primary w-100">
                Pozos <span class="badge text-bg-light ms-2">
                    {{pozos}}
                </span>
            </button>
        </div>
    </div>

    {{datos.names}}

</div>