{{> headers}}

{{> navbar this }}

<div class="container container-main shadow bg-white bordes">
    <div id="master"></div>
    
</div>

<script>
    loadPage('/inicio', 'master');
</script>

{{> footer}}